body {
			margin:0;
			}
		
		
		header {background-color:#0b2619;
				padding:14px;
		}
		h1 {
			text-align:center;
			color:#bce3c7;
			}
		h2  {color:#bce3c7;
		
	
		}
		img {
			float: right;
		}
		
	
		
		
		p  { padding:15px;
			color:#94d6b7;
			font-size:18px;
			
	
	}

		a {
			color:#bce3c7;
			text-decoration:none;
			margin-right:20px;
			}
	
		main {background-color:#080d09;
			padding:16px;
			color:#786e22;
			min-height:600px;
		
		
		}
		
		
		footer  {
			background-color:#786e22;
			color:white;
			padding:13px;
			font-size:14px;
			text-align:center;

		}
		